<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<title>Food Factory</title>
</head>
<body>
    <!--Navigation-->
	<nav class="navbar navbar-expand-md navbar-dark">
		<a class="navbar-brand" href="{{url_for('index')}}">Food Factory</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	    </button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('index')}}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('get_recipes', key='recipes', value='all')}}">Recipes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Add Recipe</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Cuisines
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{url_for('get_recipes', key='cuisine_type', value='chinese')}}">Chinese</a>
						<a class="dropdown-item" href="{{url_for('get_recipes', key='cuisine_type', value='indian')}}">Indian</a>
						<a class="dropdown-item" href="{{url_for('get_recipes', key='cuisine_type', value='italian')}}">Italian</a>
                        <a class="dropdown-item" href="{{url_for('get_recipes', key='cuisine_type', value='mediterranean')}}">Mediterranean</a>
                        <a class="dropdown-item" href="{{url_for('get_recipes', key='recipes', value='all')}}">All Cuisines</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

    <header>
        {% block hero %} {% endblock %}
    </header>
    <main>
        <div class="container">
        {% block content %} {% endblock %}
        </div>
    </main>
    <footer class="container-fluid footer-dark">
		<div class="row text-center">
			<div class="col footer-col">
				<ul class="list-inline social-links">
					<li class="list-inline-item">
						<a target="_blank" href="https://www.instagram.com">
							<i class="fab fa-instagram" aria-hidden="true"></i>
							<span class="sr-only">Instagram</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://www.facebook.com">
							<i class="fab fa-facebook-square" aria-hidden="true"></i>
							<span class="sr-only">Facebook</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://twitter.com">
							<i class="fab fa-twitter" aria-hidden="true"></i>
							<span class="sr-only">Twitter</span>
						</a>
					</li>
				</ul>
                <span class="text-white copyright">© 2020 Food Factory | Designed by Jon Gill</span>
			</div>
		</div>
	</footer>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>