{% extends 'base.html' %} {% block content %}

<!-- Section: Log in -->
<section>
  <div id="login-wrapper" class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-6 p-0">
        {% with messages= get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category}} text-center">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-7 col-lg-5 card form-card p-5 mb-5">
        <div class="logo form-logo">Food Factory</div>
        <h4 class="mb-3 text-center">Log In</h4>
        <form method="POST" action="{{ url_for('login') }}">
          {{ form.hidden_tag() }}
          <fieldset class="form-group d-block">
            <div class="form-group">
              {{ form.username.label(class="form-control-label") }} {% if
              form.username.errors %} {{ form.username(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.username(class="form-control form-control-lg")
              }} {% endif %}
            </div>
            <div class="form-group">
              {{ form.password.label(class="form-control-label") }} {% if
              form.password.errors %} {{ form.password(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.password(class="form-control form-control-lg")
              }} {% endif %}
            </div>
          </fieldset>
          <div class="row">
            <div class="col-12 col-md-6 mb-3 order-md-last">
              {{ form.submit(class="btn btn-login-login") }}
            </div>
            <div class="col-12 col-md-6">
              <a
                class="btn btn-login-cancel mb-3 order-md-first"
                href="{{ url_for('get_recipes') }}"
                >Cancel</a
              >
            </div>
          </div>
        </form>
        <div class="pt-2">
          <small class="text-muted">
            Need an Account?
            <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
