{% extends 'base.html'%} 

{% block content %}
        <div class="row">
            <div class="col-md-5">
                <img class="recipe-detail-img" src="{{recipe.img_url}}" alt="recipe detail image">
            </div>
            <div class="col-md-7">
                <h1>{{recipe.recipe_name}}</h1>
                <p>{{recipe.description}}</p>
                <p>Serves:  {{recipe.serves}}</p>
                <p>Prep Time: {{recipe.prep_time}} mins</p>
                <p>Difficulty: {{recipe.difficulty}}</p>
                <button type="button" class="btn btn-outline-secondary">
                     <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">EDIT</a>
                </button>
                <button type="button" class="btn btn-outline-secondary">
                     <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">DELETE</a>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>   
            </div>
            <div class="col-md-7">
                <h3>Method</h3>
                <ol>
                    {% for step in recipe.method %}
                    <li>{{step}}</li>
                    {% endfor %}
                </ol>   
            </div>
        </div>
    {% endblock %}


