{% extends 'base.html'%} 

{% block content %}
        <div class="row mt-4">
            <div class="col-md-5">
                <img class="recipe-detail-img" src="{{recipe.img_url}}" alt="recipe detail image">
            </div>
            <div class="col-md-7">
                <h1>{{recipe.recipe_name.title()}}</h1>
                <div class="section-seperator"></div>
                <p class="mt-3">{{recipe.description}}</p>
                <div class="section-seperator"></div>
                <div class="">
					<ul class="list-inline">
						<li class="list-inline-item">
                            <i class="fas fa-user recipe-icons"></i>
                                {{recipe.serves}}
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-utensils recipe-icons"></i>
                                {{recipe.difficulty.capitalize()}}
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-clock recipe-icons"></i>
                                {{recipe.prep_time}} mins
                        </li>
					</ul>
                </div>
                <div class="section-seperator"></div>
                <div class="mt-4">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class=" recipe-detail-btn btn btn-outline-secondary">EDIT
                    </a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="recipe-detail-btn btn btn-danger ml-3">DELETE
                    </a>
                    <a href="{{ url_for('get_recipes') }}" class="btn btn-primary btn-all-recipes">MORE RECIPES
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-5">
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li class="mb-2">{{ingredient}}</li>
                    {% endfor %}
                </ul>   
            </div>
            <div class="col-md-7">
                <h3>Method</h3>
                <ol>
                    {% for step in recipe.method %}
                    <li class="mb-2">{{step}}</li>
                    {% endfor %}
                </ol>   
            </div>
        </div>
    {% endblock %}


